<!-- Main -->
<section class="header">
      <h2 class="title">F.A.Q</h2>
      <p class="align-center"><a href="#" class="image"><img src="img/calvin&hobbes.jpg" alt=""/></a></p>
</section>

       <ol>
         <li>Q: Why did you did this shit?</li>
          <p>For myself. I wanted something this simple and i wanted to learn a few "new" technologies.
         <li>Q: There are 300000 and counting RSS feeds, any of them are way better than yours. Why Would i use it?</li>
          <p>Use them, i even advise you to.
         <li>Q: How is this made? </li>
          <p>Ruby, Sinatra and MongoDb.
         <li>Q: And the css?</li>
          <p>Shamelessly stolen from <a href="http://getskeleton.com/">here</a>.
       </ol>
 