<html>
<head>
  <title>My Small Week</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/normalize.css"  type='text/css'/>
  <link rel='stylesheet' href='css/skeleton.css' type='text/css'  />
  <link rel='stylesheet' href='css/custom.css' type='text/css'  />
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body class="code-snippets-visible">
 <div class="container">
    <section class="header">
      <h2 class="title">My Small Week</h2>
      <h6>A dead simple feed agregator.</h6>
      <a href="/auth/google_oauth2" class="button button-primary">Login with google</a>
    </section>

    <div id="intro" class="docs-section">
      <h6 class="docs-header">Small and Clean</h6>
      <p>Who the hell reads more than a few posts per week anyway? So:
      <ul>
        <li>100 feeds max</li>
        <li>1 week of feeds</li>
      </ul>
    </div>
    
    <div id="footer" class="docs-section">
    <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="/faqs">FAQ</a></li>
          <li class="navbar-item"><a class="navbar-link" href="http://impious.github.io/" target="_blank">Contact</a></li>
    </ul>
    </div>
</div>
</body>
</html>
