
    <div class="docs-section">
     <h6 class="docs-header">Add Feed</h6>
 
           <form id="formid" name="new" action="/create" method="post">
             <div class="row uniform">
             <div class="4u">
             <input name="name" id="name"  placeholder="A small name to identify the feed" type="text" class="u-full-width"  />
           </div>
           <div class="6u">
             <input name="url" id="url" placeholder="We'll try to find the url feed for your url" type="text"  class="u-full-width" />
           </div>
           <div class="2u">
                 <input class="button button-primary" type="submit" value="Add" />
           </div>
         </div>
           </form>
 </div>
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/new.js"></script>
